*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222E35;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #111B21;
    width: 30%;
    height: 75%;
    border-radius: 35px;
    box-shadow: 1px 1px 15px rgb(101, 95, 95);

}
 .fstdiv{
    margin: 20px;
    width: 28vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    gap: 20px;
    border-radius: 35px;

}
.snddiv{
    display: flex;
  align-items: center;
    justify-content: center;
    gap: 15px;
    color:azure;

}
.trddiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column-reverse;
    gap: 10px;
    color:azure;
  margin: 10px;



}
.btnclass{
    display: flex;
align-items: center;
justify-content: center;
}
.genbtn{
display: flex;
align-items: center;
justify-content: center;
height: 50px;
width: 180px;
border-radius: 35px;
box-shadow: 1px 1px 15px rgb(157, 202, 250);
background-color: #06CF9C;

}
